version: "3.9"

services:
  backend:
    image: listing-backend
    build:
      context: ../backend
      dockerfile: ListingWebApp.Api/Dockerfile
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      
      # ConnectionStrings
      ConnectionStrings__Postgres: ${POSTGRES_CONNECTION_STRING}

      # RedisOptions
      RedisOptions__ConnectionString: ${REDIS_CONNECTION_STRING}
      RedisOptions__KeyPrefix: ${REDIS_KEY_PREFIX}
      RedisOptions__Database: ${REDIS_DB}

      # JwtOptions
      JwtOptions__SecretKey: ${JWT_SECRET_KEY}
      JwtOptions__ExpiresMinutes: ${JWT_EXPIRES_MINUTES}

      # EmailServiceOptions
      EmailServiceOptions__VerificationTemplateFilePath: ${EMAIL_VERIFICATION_TEMPLATE_FILE_PATH}
      EmailServiceOptions__SenderAddress: ${EMAIL_SENDER_ADDRESS}
      EmailServiceOptions__DisplayName: ${EMAIL_DISPLAY_NAME}
      EmailServiceOptions__SenderMailPassword: ${EMAIL_SENDER_MAIL_PASSWORD}
      EmailServiceOptions__SmtpHost: ${EMAIL_SMTP_HOST}
      EmailServiceOptions__SmtpPort: ${EMAIL_SMTP_PORT}
      
      S3Options__REGION: ${MINIO_REGION}
      S3Options__ENDPOINT: ${S3_OPTIONS_ENDPOINT}
      S3Options__ACCESSKEY: ${S3_OPTIONS_ACCESSKEY}
      S3Options__SECRETKEY: ${S3_OPTIONS_SECRETKEY}
      S3Options__BUCKET: ${S3_OPTIONS_BUCKET}
      S3Options__USESSL: ${S3_OPTIONS_USESSL}
      
    depends_on:
      - postgres
      - redis

  frontend:
    container_name: listing-frontend
    build:
      context: ../frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    environment:
      - VITE_API_BASE_URL=http://localhost:8080/api
    depends_on:
      - backend

  postgres:
    image: postgres:16
    container_name: listing-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: listing-pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    ports:
      - "5050:80"
    depends_on:
      - postgres
    volumes:
      - pgadmin_data:/var/lib/pgadmin

  redis:
    image: redis:7-alpine
    container_name: listing-redis
    restart: unless-stopped
    command: ["redis-server", "--save", "60", "1", "--loglevel", "warning"]
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data

  minio:
    image: quay.io/minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"
      - "9001:9001"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:9000/minio/health/live || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  pgdata:
  redisdata:
  pgadmin_data:
  minio_data:
